@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  color: rgba(255, 255, 255, 0.87);
  margin: 0 0 0 0;
  background-color: #494949;
  width: 100vw;
  overflow-x: hidden;
}

button {
  font-weight: bold;
}

button:hover {
  text-decoration-line: underline;
}
